In [2]:
import pandas as pd
pd.__version__

'2.2.2'

In [5]:
# ?pd.DataFrame

딕셔너리

In [7]:
data = {
    "name": ["alex", "chelsea", "jun", "hailey"],
    "age": [16, 18, 17, 15],
    "gender": ["male", "female", "male", "female"]
}
df = pd.DataFrame(data)
df

      name  age  gender
0     alex   16    male
1  chelsea   18  female
2      jun   17    male
3   hailey   15  female

2차원 리스트

In [10]:
data_list = [
    ["alex", 16, "male"],
    ["chelsea", 18, "female"],
    ["jun", 17, "male"],
    ["hailey", 15, "female"]
]

columns = ["name", "age", "gender"]

# df2 = pd.DataFrame(data_list, columns=columns)
df2 = pd.DataFrame(data_list, columns=['name','age','gender'])
df2

      name  age  gender
0     alex   16    male
1  chelsea   18  female
2      jun   17    male
3   hailey   15  female

실습. 딕셔너리 -> dataframe

In [12]:
user_info = {
    'user_id':[1,2,3,4,5],
    'age':[25,32,29,41,36],
    'country': ['KR','KR','US','US','KR'],
    'is_paid': [False, True, False, True, True]}
df = pd.DataFrame(user_info)
df

   user_id  age country  is_paid
0        1   25      KR    False
1        2   32      KR     True
2        3   29      US    False
3        4   41      US     True
4        5   36      KR     True

## [1] 데이터 불러오기

In [ ]:
# pd.read_csv()

In [38]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [28]:
path = ('/content/drive/MyDrive/새싹2기/데이터 분석/titanic.csv')
titan = pd.read_csv(path)
titan

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [35]:
df.to_excel(path+'.xlsx')

In [29]:
type(titan)

pandas.core.frame.DataFrame

## [2] 데이터 확인하기

In [42]:
employee_data = {
    "Name": ["John Doe", "Jane Smith", "Peter Jones", "Linda Taylor", "Emily Clark", "David Smith", "Michael Brown", "Sarah Johnson"],
    "Position": ["Software Engineer", "Data Scientist", "Project Manager", "HR Specialist", "Data Scientist", "Software Engineer", "HR Specialist", "Project Manager"],
    "Office": ["New York", "San Francisco", "Berlin", "London", "San Francisco", "New York", "London", "Berlin"],
    "Age": [28, 34, 45, 32, 30, 38, 41, 29],
    "Salary": [95000, 125000, 75000, 85000, 115000, 105000, 90000, 80000]
}
df = pd.DataFrame(employee_data)
df

            Name           Position         Office  Age  Salary
0       John Doe  Software Engineer       New York   28   95000
1     Jane Smith     Data Scientist  San Francisco   34  125000
2    Peter Jones    Project Manager         Berlin   45   75000
3   Linda Taylor      HR Specialist         London   32   85000
4    Emily Clark     Data Scientist  San Francisco   30  115000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
7  Sarah Johnson    Project Manager         Berlin   29   80000

### (1) 전체 구조 확인

In [44]:
df.shape

(8, 5)

In [45]:
df.columns

Index(['Name', 'Position', 'Office', 'Age', 'Salary'], dtype='object')

In [46]:
df.index

RangeIndex(start=0, stop=8, step=1)

### (2) 미리보기

In [48]:
df.head()

           Name           Position         Office  Age  Salary
0      John Doe  Software Engineer       New York   28   95000
1    Jane Smith     Data Scientist  San Francisco   34  125000
2   Peter Jones    Project Manager         Berlin   45   75000
3  Linda Taylor      HR Specialist         London   32   85000
4   Emily Clark     Data Scientist  San Francisco   30  115000

In [50]:
df.tail(3)

            Name           Position    Office  Age  Salary
5    David Smith  Software Engineer  New York   38  105000
6  Michael Brown      HR Specialist    London   41   90000
7  Sarah Johnson    Project Manager    Berlin   29   80000

### (3) 데이터 타입과 결측치 확인

- 각 열의 자료형 (type) 확인

In [51]:
df.dtypes

Name        object
Position    object
Office      object
Age          int64
Salary       int64
dtype: object

In [53]:
df.info()
# 정보의 출력만 해줌, 내용을 변수에 저장할 수 없

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      8 non-null      object
 1   Position  8 non-null      object
 2   Office    8 non-null      object
 3   Age       8 non-null      int64
 4   Salary    8 non-null      int64
dtypes: int64(2), object(3)
memory usage: 452.0+ bytes

- 메소드는 df.head()와 같이 끝난다.
- 속성(attribute)는 df.index와 같이 끝난다.

### (4) 정렬하기

데이터 프레임은 (행, 열) -> 2차원 구조

그렇기 때문에 정렬하는데, 어떤 방향을 기준으로 정렬할지 알려줘야 한다.  

=> `sort_*`: `*`를 기준으로 정렬하세요.

1. 값을 기준으로 정렬하는 df.sort_values()
2. 행의 이름을 기준으로 정렬하는 df.sort_index()

In [54]:
df.sort_values(by='Salary')

            Name           Position         Office  Age  Salary
2    Peter Jones    Project Manager         Berlin   45   75000
7  Sarah Johnson    Project Manager         Berlin   29   80000
3   Linda Taylor      HR Specialist         London   32   85000
6  Michael Brown      HR Specialist         London   41   90000
0       John Doe  Software Engineer       New York   28   95000
5    David Smith  Software Engineer       New York   38  105000
4    Emily Clark     Data Scientist  San Francisco   30  115000
1     Jane Smith     Data Scientist  San Francisco   34  125000

In [55]:
df # 정렬해도 기존의 데이터는 바뀌지 않는다.

            Name           Position         Office  Age  Salary
0       John Doe  Software Engineer       New York   28   95000
1     Jane Smith     Data Scientist  San Francisco   34  125000
2    Peter Jones    Project Manager         Berlin   45   75000
3   Linda Taylor      HR Specialist         London   32   85000
4    Emily Clark     Data Scientist  San Francisco   30  115000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
7  Sarah Johnson    Project Manager         Berlin   29   80000

In [57]:
df.sort_values(by='Salary',inplace=True) # 원본 데이터를 바꾸고 싶을
df

            Name           Position         Office  Age  Salary
2    Peter Jones    Project Manager         Berlin   45   75000
7  Sarah Johnson    Project Manager         Berlin   29   80000
3   Linda Taylor      HR Specialist         London   32   85000
6  Michael Brown      HR Specialist         London   41   90000
0       John Doe  Software Engineer       New York   28   95000
5    David Smith  Software Engineer       New York   38  105000
4    Emily Clark     Data Scientist  San Francisco   30  115000
1     Jane Smith     Data Scientist  San Francisco   34  125000

In [60]:
df.sort_values(by=['Age', 'Salary'])
df

            Name           Position         Office  Age  Salary
2    Peter Jones    Project Manager         Berlin   45   75000
7  Sarah Johnson    Project Manager         Berlin   29   80000
3   Linda Taylor      HR Specialist         London   32   85000
6  Michael Brown      HR Specialist         London   41   90000
0       John Doe  Software Engineer       New York   28   95000
5    David Smith  Software Engineer       New York   38  105000
4    Emily Clark     Data Scientist  San Francisco   30  115000
1     Jane Smith     Data Scientist  San Francisco   34  125000

In [61]:
df.sort_index() # 인덱스를 기준으로 데이터를 정

            Name           Position         Office  Age  Salary
0       John Doe  Software Engineer       New York   28   95000
1     Jane Smith     Data Scientist  San Francisco   34  125000
2    Peter Jones    Project Manager         Berlin   45   75000
3   Linda Taylor      HR Specialist         London   32   85000
4    Emily Clark     Data Scientist  San Francisco   30  115000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
7  Sarah Johnson    Project Manager         Berlin   29   80000

### [5] 실습
- 데이터 확인하기
  - titanic.csv

(1) titanic 데이터를 불러오고, 상위 10개의 행을 확인해 보세요.

In [64]:
path = ('/content/drive/MyDrive/새싹2기/데이터 분석/titanic.csv')
titan = pd.read_csv(path)

In [65]:
titan.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

(2) Titanic 데이터의 구조를 확인해 보세요.

In [67]:
titan.shape

(891, 15)

In [68]:
titan.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [71]:
# 결측치는 오름차순에서 최상단, 내림차순에서 최한단이다.
titan.sort_values(by=['class','age'], ascending=[True, False], inplace=True)
titan

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
745,0,1,male,70.0,1,1,71.0000,S,First,man,True,B,Southampton,no,False
54,0,1,male,65.0,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [73]:
titan.sort_index(inplace=True)
titan

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

## [3] 범주형 데이터 확인

### (1) 고유값 확인하기

In [74]:
df = pd.DataFrame({
'Brand': ['Apple','Samsung','Apple','Xiaomi','Samsung','Xiaomi','Samsung'],
'Model': ['iphone15','Galaxy24','iphone16','Redme15','Galaxy23','Redme14','Galaxy25'],
'Release': [True,True,False,True,True,True,False]
})
df

     Brand     Model  Release
0    Apple  iphone15     True
1  Samsung  Galaxy24     True
2    Apple  iphone16    False
3   Xiaomi   Redme15     True
4  Samsung  Galaxy23     True
5   Xiaomi   Redme14     True
6  Samsung  Galaxy25    False

In [75]:
df['Brand'].unique()

array(['Apple', 'Samsung', 'Xiaomi'], dtype=object)

In [76]:
df['Model'].unique()

array(['iphone15', 'Galaxy24', 'iphone16', 'Redme15', 'Galaxy23',
       'Redme14', 'Galaxy25'], dtype=object)

### (2) 고유값 개수 확인하기

In [77]:
df.nunique()

Brand      3
Model      7
Release    2
dtype: int64

In [78]:
df['Brand'].nunique()

3

### (3) 분포 확인하기

In [79]:
df.value_counts() # 이게뭐여?

Brand    Model     Release
Apple    iphone15  True       1
         iphone16  False      1
Samsung  Galaxy23  True       1
         Galaxy24  True       1
         Galaxy25  False      1
Xiaomi   Redme14   True       1
         Redme15   True       1
Name: count, dtype: int64

In [82]:
df['Brand'].value_counts()

Brand
Samsung    3
Apple      2
Xiaomi     2
Name: count, dtype: int64

In [83]:
df['Brand'].value_counts(normalize=True)

Brand
Samsung    0.428571
Apple      0.285714
Xiaomi     0.285714
Name: proportion, dtype: float64

In [84]:
df['Brand'].value_counts(normalize=True).map(lambda x:f"{round(x*100,2)}%")

Brand
Samsung    42.86%
Apple      28.57%
Xiaomi     28.57%
Name: proportion, dtype: object

## [4] 수치형 자료 확인하기

### (1) 기술 통계

In [86]:
employee_data = {
    "Name": ["John Doe", "Jane Smith", "Peter Jones", "Linda Taylor", "Emily Clark", "David Smith", "Michael Brown", "Sarah Johnson"],
    "Position": ["Software Engineer", "Data Scientist", "Project Manager", "HR Specialist", "Data Scientist", "Software Engineer", "HR Specialist", "Project Manager"],
    "Office": ["New York", "San Francisco", "Berlin", "London", "San Francisco", "New York", "London", "Berlin"],
    "Age": [28, 34, 45, 32, 30, 38, 41, 29],
    "Salary": [95000, 125000, 75000, 85000, 115000, 105000, 90000, 80000],
    "Is_Manager":[True,False,False,True,True,False,True,False]
}

df = pd.DataFrame(employee_data)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Position    8 non-null      object
 2   Office      8 non-null      object
 3   Age         8 non-null      int64
 4   Salary      8 non-null      int64
 5   Is_Manager  8 non-null      bool
dtypes: bool(1), int64(2), object(3)
memory usage: 460.0+ bytes

In [88]:
df.describe() # 연산 가능한 수치형 자료만 표기

             Age         Salary
count   8.000000       8.000000
mean   34.625000   96250.000000
std     6.139742   17474.471175
min    28.000000   75000.000000
25%    29.750000   83750.000000
50%    33.000000   92500.000000
75%    38.750000  107500.000000
max    45.000000  125000.000000

In [89]:
df.describe(include='all')

,Name,Position,Office,Age,Salary,Is_Manager
count,8,8,8,8.000000,8.000000,8
unique,8,4,4,NaN,NaN,2
top,John Doe,Software Engineer,New York,NaN,NaN,True
freq,1,2,2,NaN,NaN,4
mean,NaN,NaN,NaN,34.625000,96250.000000,NaN
std,NaN,NaN,NaN,6.139742,17474.471175,NaN
min,NaN,NaN,NaN,28.000000,75000.000000,NaN
25%,NaN,NaN,NaN,29.750000,83750.000000,NaN
50%,NaN,NaN,NaN,33.000000,92500.000000,NaN
75%,NaN,NaN,NaN,38.750000,107500.000000,NaN
max,NaN,NaN,NaN,45.000000,125000.000000,NaN

### (2) 중심 경향치

1. 평균

In [91]:
df.mean(numeric_only=True)

Age              34.625
Salary        96250.000
Is_Manager        0.500
dtype: float64

2. 중앙값

In [92]:
df.median(numeric_only=True)

Age              33.0
Salary        92500.0
Is_Manager        0.5
dtype: float64

3. 최빈값

In [93]:
df.mode(numeric_only=True)

   Age  Salary Is_Manager
0   28   75000      False
1   29   80000       True
2   30   85000        NaN
3   32   90000        NaN
4   34   95000        NaN
5   38  105000        NaN
6   41  115000        NaN
7   45  125000        NaN

4. 분산

In [95]:
df.var(numeric_only=True)

Age           3.769643e+01
Salary        3.053571e+08
Is_Manager    2.857143e-01
dtype: float64

5. 편차

In [96]:
df.std(numeric_only=True)

Age               6.139742
Salary        17474.471175
Is_Manager        0.534522
dtype: float64

6. 범위와 사분위수 범위

In [98]:
range = df['Salary'].max() - df['Salary'].min()
range

50000

> IQR = Q3 - Q1  

=> 3사분위수 - 1사분위수

In [100]:
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)

In [103]:
IQR = Q3 - Q1
IQR

np.float64(23750.0)

7. 값의 개수

In [105]:
df.count()

Name          8
Position      8
Office        8
Age           8
Salary        8
Is_Manager    8
dtype: int64

* 방향 설정(axis)

In [107]:
df.sum(numeric_only=True, axis =0)

Age              277
Salary        770000
Is_Manager         4
dtype: int64

In [108]:
df.sum(numeric_only=True, axis = 1)

0     95029
1    125034
2     75045
3     85033
4    115031
5    105038
6     90042
7     80029
dtype: object

## [5] 실습

In [111]:
path = '/content/drive/MyDrive/새싹2기/데이터 분석/ratings.csv'
df = pd.read_csv(path)

데이터의 처음 5행과 마지막 5행을 확인하세요.

In [112]:
df.head(5)

   UserID  MovieID  Rating  Age  Occupation    Genre
0      45        8       4   55  Unemployed   Horror
1      48        5       3   15    Engineer   Action
2      65        4       2   55     Student  Romance
3      68        6       5   45      Doctor   Comedy
4      68        7       4   25    Engineer  Romance

In [113]:
df.tail(5)

     UserID  MovieID  Rating  Age Occupation    Genre
495       4        4       4   50     Doctor   Action
496      13       14       4   55    Student   Horror
497      59        5       5   40    Student   Comedy
498       2       20       3   40     Artist   Action
499       1        7       2   20     Artist  Romance

데이터의 구조, 즉 행과 열의 수를 확인하세요.

In [115]:
df.shape

(500, 6)


각 컬럼의 데이터 타입을 확인하세요.

In [118]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      500 non-null    int64
 1   MovieID     500 non-null    int64
 2   Rating      500 non-null    int64
 3   Age         500 non-null    int64
 4   Occupation  500 non-null    object
 5   Genre       500 non-null    object
dtypes: int64(4), object(2)
memory usage: 23.6+ KB

영화 장르(Genre) 컬럼의 유니크한 값과 각 장르별 영화 수를 확인하세요.

In [119]:
df['Genre'].unique()

array(['Horror', 'Action', 'Romance', 'Comedy', 'Drama'], dtype=object)

In [121]:
df['Genre'].value_counts()

Genre
Romance    119
Drama      104
Horror     101
Action      94
Comedy      82
Name: count, dtype: int64

사용자의 직업(Occupation) 컬럼의 유니크한 값과 각 직업별 사용자 수를 확인하세요.

In [122]:
df['Occupation'].unique()

array(['Unemployed', 'Engineer', 'Student', 'Doctor', 'Artist'],
      dtype=object)

In [123]:
df['Occupation'].value_counts()

Occupation
Artist        108
Engineer      104
Doctor        102
Unemployed     99
Student        87
Name: count, dtype: int64

사용자 나이(Age) 컬럼의 평균, 최소값, 최대값을 확인하세요.

In [130]:
df.head()

   UserID  MovieID  Rating  Age  Occupation    Genre
0      45        8       4   55  Unemployed   Horror
1      48        5       3   15    Engineer   Action
2      65        4       2   55     Student  Romance
3      68        6       5   45      Doctor   Comedy
4      68        7       4   25    Engineer  Romance

In [131]:
df['Age'].mean()

np.float64(38.52)

In [132]:
df['Age'].min()

15

In [133]:
df['Age'].max()

60


영화 평점(Rating) 컬럼에 대한 기술 통계량(평균, 표준편차, 최소값, 최대값, 사분위수)을 확인하세요.

In [135]:
df['Rating'].mean()

np.float64(2.998)

In [136]:
df['Rating'].std()

1.4346122209325043

In [137]:
df['Rating'].min()

1

In [138]:
df['Rating'].max()

5

In [140]:
Q3 = df['Rating'].quantile(0.75)
Q1 = df['Rating'].quantile(0.25)
Q3, Q1

(np.float64(4.0), np.float64(2.0))

In [143]:
df['Rating'].quantile()

np.float64(3.0)