In [36]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive.')

Drive already mounted at /content/drive.; to attempt to forcibly remount, call drive.mount("/content/drive.", force_remount=True).

In [37]:
path = ('/content/drive./MyDrive/새싹2기/python_DA/data/titanic.csv')
titan = pd.read_csv(path)
titan

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

(1) 값 수정하기
- titanic 데이터에서 index가 888인 사람의 나이(age)를 30으로 수정해 보세요.

In [38]:
titan.loc[888,'age'] = 30
titan.iloc[888]

survived                 0
pclass                   3
sex                 female
age                   30.0
sibsp                    1
parch                    2
fare                 23.45
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 888, dtype: object

(2) 컬럼 정리하기
- 성별 컬럼 이름을 sex → gender로 변경하고, 원본 titanic에 반영하세요.

In [39]:
titan.rename(columns = {'sex' : 'gender'}, inplace=True)
titan.columns

Index(['survived', 'pclass', 'gender', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

[3] 구조 수정과 정제

- 불필요한 컬럼 deck이 있다면 삭제한 titanic2를 만드세요. (원본 titanic은 유지합니다.)

In [40]:
titan['deck']

0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: deck, Length: 891, dtype: object

In [41]:
titan2 = titan.drop(columns = ['deck'])
titan2

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,30.0,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

중복 행이 몇 개인지 먼저 확인한 뒤, 중복을 제거한 titanic2를 다시 저장하세요. (중복 제거 기준은 “전체 행”입니다.)

In [42]:
titan2.duplicated().sum()

np.int64(111)

In [43]:
titan2 = titan2.drop_duplicates()
titan2

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,30.0,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True


중복 제거 이후 인덱스가 끊겨 보일 수 있습니다. titanic2의 인덱스를 0..n-1로 다시 정리하세요.

In [44]:
titan_idx = titan2.reset_index(drop=True)
titan_idx

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,Queenstown,no,False
776,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
777,0,3,female,30.0,1,2,23.4500,S,Third,woman,False,Southampton,no,False
778,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
779,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

[4] 함수로 값 변환하기

- 'gender' 컬럼의 값을 'male'은 'M', 'female'은 'F'로 변경하고 titanic에 적용하세요.

In [45]:
titan.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [46]:
titan['gender'] = titan['gender'].map({'male': 'M', 'female' : 'F'})
titan

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,M,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,F,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,F,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,F,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,M,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,M,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,F,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,F,30.0,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,M,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,M,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

문자열 전처리 없이도 “값 표준화”는 할 수 있습니다. embarked 컬럼 값을 다음 규칙으로 치환해 embarked_name 컬럼을 새로 만드세요.
- S → Southampton
- C → Cherbourg
- Q → Queenstown

In [47]:
titan['embarked_name'] = titan['embarked'].map({'S': 'Southampton', 'C': 'Cherbourg', 'Q': 'Queenstown'})
titan

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,embarked_name
0,0,3,M,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,Southampton
1,1,1,F,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,Cherbourg
2,1,3,F,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,Southampton
3,1,1,F,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,Southampton
4,0,3,M,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,Southampton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,M,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,Southampton
887,1,1,F,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,Southampton
888,0,3,F,30.0,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,Southampton
889,1,1,M,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,Cherbourg
890,0,3,M,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,Queenstown

In [48]:
titan.columns

Index(['survived', 'pclass', 'gender', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'embarked_name'],
      dtype='object')